<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href='css/semantic.css' />
	<link rel='stylesheet' type='text/css' href='css/layout.css' />
	
	<script src='js/libs/jquery-1.10.2.js'></script>
	<script src='js/libs/semantic.js'></script>
</head>
<body>
<div class='ui large purple icon button' id='back'>
	<i class='big left icon'></i>
</div>
<div class='ui large circular purple icon button' id='info'>
	<i class='big info letter icon'></i>
</div>
<div class='ui large circular purple icon button' id='help'>
	<i class='big question icon'></i>
</div>
</body>
</html>