<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href='css/semantic.css' />
	<link rel='stylesheet' type='text/css' href='css/layout.css' />
	
	<script src='js/libs/jquery-1.10.2.js'></script>
	<script src='js/libs/semantic.js'></script>
</head>
<body>
<div class='ui middle aligned stackable page grid'>
	<div class='ui center aligned one column row'>
		<div class='ui column'>
			<div class='ui huge purple expanding header'>
				Logo and title
			</div>
		</div>
	</div>
	<div class='ui center middle aligned five column row'>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1965
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1966
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1967
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1968
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1969
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1970
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1971
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1972
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1973
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1974
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1975
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1976
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1977
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1978
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1979
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1980
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1981
			</div>
		</div>
		<div class='ui column'>
			<div class='ui purple massive button'>
				1982
			</div>
		</div>
		<div class='ui column'>
			<div class='ui invisible massive button'>
				1982
			</div>
		</div>
		<div class='ui column'>
			<div class='ui invisible massive button'>
				1982
			</div>
		</div>
	</div>
</div>
</body>
</html>