<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href='css/semantic.css' />
	<link rel='stylesheet' type='text/css' href='css/layout.css' />
	
	<script src='js/libs/jquery-1.10.2.js'></script>
	<script src='js/libs/semantic.js'></script>
</head>
<body>
<div class='ui modal help'>
	<i class='ui close icon'></i>
	<div class='ui purple header'><i class='ui help icon'></i>Help</div>
	<div class='content'>
	This is the help modal so help me
	</div>
</div>
<script>$('.modal.help').modal('show');</script>
</body>
</html>