<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href='css/semantic.css' />
	<link rel='stylesheet' type='text/css' href='css/layout.css' />
	
	<script src='js/libs/jquery-1.10.2.js'></script>
	<script src='js/libs/semantic.js'></script>
</head>
<body>
<div class='ui middle aligned stackable page grid'>
	<div class='ui center aligned row'>
		<div class='four wide column'>
		</div>
		<div class='eight wide column'>
			<div class='ui huge purple expanding header'>
				Logo and title
			</div>
		</div>
		<div class='four wide column'>
		</div>
	</div>
	<div class='ui center aligned two column row'>
		<div class='ui column'>
			<div class='ui jumbo purple button'>
				<i class='massive browser icon chunkybutton'></i>
				<div class='chunkybuttontext'>Browse</div>
			</div>
		</div>
		<div class='ui column'>
			<div class='ui disabled jumbo purple button'>
				<i class='massive search icon chunkybutton'></i>
				<div class='chunkybuttontext'>Search</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>