html, body{
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: rgb(240,240,240);
}

i.chunkybutton {
	margin: 0 0 0 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

i.chunkybutton.search {
	padding-left: 0.195em;
	padding-right: 0.195em;
}

.ui.jumbo.button {
	font-size: 3vmin;
	border-radius: 0.5em;
}

.ui.huge.button{
	font-size: 2vmin;
	border-radius: 0.3em;
}

.ui.expanding.header{
	font-size: 6vmin;
	margin-top: 2em;
	margin-bottom: 1.5em;
}

div.chunkybuttontext {
	font-size: 2.5em;
}

.ui.row.equal.height > .ui.column > a > .ui.button{
	height: 22vmin;
	width:45vmin;
}

.ui.row.equal.height > .ui.column{
	height: 100%;
}

.ui.button.massive{
	margin-bottom: 2em;
}

.ui.button.invisible{
	visibility: hidden;
}

.ui.button#back{
	position: fixed;
	top: 16px;
	left: 16px;
	width: 65px;
	height:65px;
}

.ui.button#help{
	position: fixed;
	top: 16px;
	right: 97px;
	width: 65px;
	height:65px;
}

.ui.button#home{
	position: fixed;
	top: 16px;
	right: 178px;
	width: 65px;
	height:65px;
}

.ui.button#home > i.ui.icon.home{
	width:36px;
}

.ui.button#help > .question.icon{
	margin-left: -4.133px;
	margin-right: -4.133px;
}

.ui.button#info{
	position: fixed;
	top: 16px;
	right: 16px;
}

.ui.button#info > .info.letter.icon{
	margin-left: -4.133px;
	margin-right: -4.133px;
}

a.heightButton{
	text-decoration: none;
	display:inline-block;
	margin: 1em 1.5em;
}

.ui.month.button{
	width: 210px;
}

.ui.button#next{
	position: fixed;
	right: 5%;
	top: 85%;
}

.ui.button#prev{
	position: fixed;
	left: 5%;
	top: 85%;
}

.ui.segment#issueInfo{
	width: 350px;
	margin: auto;
	text-align: center;
}

#issueInfoWrapper{
	position: fixed;
	bottom: -6px;
	width: 100%
}

#imageStage{
	position:fixed;
	width: 100vw;
	height: 100vh;
}

#imageScroller{
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	transition: left 1s;
}

img.document_page{
	position: absolute;
	-webkit-user-drag: none;
	pointer-events: none;
}

.ui.jumbo.action.input{
	width: 100%;
	margin: 0 auto;
}

.ui.jumbo.action.input > input{
	font-size: 4vmin;
	-webkit-transition: font-size 1s;
	-moz-transition: font-size 1s;
	transition: font-size 1s;
}

.ui.jumbo.action.input > .ui.button{
	padding: 2vmin;
}

.ui.jumbo.action.input > .ui.button > .ui.icon{
	font-size: 3vmin;
}

#searchBox{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(240, 240, 240);
}

#searchResults{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 2%;
	position: relative;
	top: 110vh;
	-webkit-transition: top 1s;
	-moz-transition: top 1s;
	transition: top 1s;
}

#logoHeader{
	-webkit-transition: margin-top 1s, margin-bottom 1s, font-size 1s;
	-moz-transition: margin-top 1s, margin-bottom 1s, font-size 1s;
	transition: margin-top 1s, margin-bottom 1s, font-size 1s;
}

#searchInput{
	-webkit-transition: font-size 1s;
	-moz-transition: font-size 1s;
	transition: font-size 1s;
	border-bottom: 5px solid rgba(0,0,0,0.15);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#searchInput > input{
	border-bottom-left-radius: 0;
}

#searchInput > div.button{
	border-bottom-right-radius: 0;
}

span.highlight{
	background: rgba(0,200,150,0.5);
	padding: 2px 6px 2px 6px;
	margin: -2px -6px -2px -6px;
}

#logo50{
	height: 3em;
	margin-bottom: -1.1em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}